/* working on my headings */
h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: none;
    background-color: maroon;
}
h4{
    opacity: calc(70%);
    font-size: x-large;
}
.cv-container{
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.left-column{
width: 30%;
background-color: rgb(35, 2, 2);
color: white;
padding: 10px;
}

.right-column{
    width: 70%;
    background-color: white;
    color: black;
    padding: 10px;
}