/* working on my headings */
h1{
    text-align: center;
    font-size: 50px;

}
.cv-container{
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.left-column{
width: 30%;
background-color: rgb(35, 2, 2);
color: white;
padding: 20px;
}

.right-column{
    width: 70%;
    background-color: white;
    color: black;
    padding: 10px;
}